.main-deportes{
   section{
        div{
            h1{}
        }
        div{
            h2{
            }
        }
        div{
            p{
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        div{
            img{
                margin-left: 25%;
            }
        }
   }
}