.main-zapatillas{
    section{
        div{
            h1{}
        };
        div{
            p{
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
        
}