.main-index{
    section{
        background-image: url(../imagenes/fondo-mejorado.jpg);
        background-size: contain;
        background-repeat: no-repeat;

        width: 100%;
        .letras-index{
            background-color: $background-color_1;
            h1{}
            div{
                p{
                    @include text(20px, 20px)
                }
            }
            div{
                img{}
            }
        }
    }
}