.main-index{
    section{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../imagenes/fondo-mejorado.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        .letras-index{
            background-color: $background-color_1;
            h1{}
            div{
                p{
                    @include text(20px, 20px)
                }
            }
            div{
                img{}
            }
        }
    }
}