footer{
    border: 3px solid grey;
    background-color: $background-color_1;
    section{ 
        div{
           p{ }
        } 
        div{
            li{
               a{
                  img{
                    width: 50px;
                    }
                }
            }
        }
    }   
}