header {
    border-bottom: 1px solid grey;
    #btn_menu{
        display: none;
    }
    label{
        @extend #btn_menu;
    }
    .logo1{
        @extend #btn_menu;
    }
    a{
     color: $color_1;
        img{
            width: 75px;
            padding: 20px;
        }
    }
    nav{
        position: absolute;
        top: 25px;
        right: 10px;
        ul{
            li{
                display: inline-block;
                padding: 12px;
                text-decoration: none;
                font-family: $font-family_1;
                border-radius: 5px;
                border: 3px solid grey;
            }
        }
    }
}